* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#header {
    background-color: #000;
    width: 100%;
    height: 46.5px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header #nav {
    list-style-type: none;
    display: inline-block;
}

#header #nav > li {
    display: inline-block;
    position: relative;
}

#header #nav > li > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    line-height: 46.5px;
    padding: 0 24px;
}

#header #nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#header li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    list-style-type: none;
    width: 170px;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#nav .subnav > li a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 12px;
}

#nav .subnav > li:hover > a {
    background-color: #ccc;
}

.search-button {
    float: right;   
}

.my-ti-search {
    line-height: 46.5px;
    color: #fff;
    padding: 0 24px;
}

.search-button:hover {
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    padding-top: 50%;
    background: url(/w3_band/assets/img/slider/slider1.jpg) top center/contain no-repeat;
    margin-top: 46.5px;
    position: relative;
}

#slider .slider-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    padding: 32px 16px;
}

#slider .slider-text .heading-text {
    margin: 10px 0;
    font: 400 24px/36px "Segoe UI",Arial,sans-serif;
}

#slider .slider-text .description-text {
    font-weight: 700;
    line-height: 22.5px;
}

.frame-content{
    width: 700px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
}

.frame-content .heading-content {
    text-align: center;
    margin: 10px 0;
    font: 400 30px/45px "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
}

.frame-content .slogan-content {
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
    line-height: 22.5px;
}

#content .frame-content .text-band {
    margin: 15px 0;
    text-align: justify;
    line-height: 22.5px;
}

#content .frame-content .list-member {
    padding: 32px 0;
}

#content .frame-content .item-member {
    width: calc(100% / 3);
    float: left;
    text-align: center;
}

#content .item-member .name-member {
    margin: 15px 0;
    line-height: 22.5px;
}

#content .item-member .avatar-member {
    border-radius: 3px;
    width: 154px;
    margin-bottom: 16px;
}

#tour {
    background-color: #000;
}

#tour .book-date {
    background-color: #fff;
    list-style-type: none;
}

#tour .book-date .item-date {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(117, 117, 117);
    line-height: 22.5px;
}

#tour .book-date .status {
    background-color: rgb(244, 67, 54);
    color: rgb(255, 255, 255);  
    display: inline-block;
    line-height: 22.5px;
    padding: 0 8px;
    margin-left: 16px;
}

#tour .book-date .quantity {
    padding: 0 8px;
    margin-right: 16px;
    line-height: 22.5px;
    display: block;
    float: right;
    border-radius: 50%;
    background-color: #000;
    color: rgb(255, 255, 255);
}

#tour .list-place {
    padding: 32px 8px;
    margin: 0 -16px;
    overflow: hidden;
}

#tour .item-place {
    width: calc(100% / 3);
    float: left;
    padding: 0 8px;
    margin-bottom: 16px;
    background-color: #fff;
    background-clip: content-box;
}

#tour .item-place .img-place {
    width: 100%;
}

#tour .content-place {
    padding: 0 16px;
}

#tour .content-place .country {
    margin: 15px 0;
    display: block;
    line-height: 22.5px;
}

#tour .content-place .date {
    margin: 15px 0;
    opacity: 0.6;
}

#tour .content-place .description {
    margin: 15px 0;
    line-height: 22.5px;
    font-family: Verdana,sans-serif;
}

#tour .content-place .buy-ticket {
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    border: none;
    font-weight: 400;
}

#tour .content-place .buy-ticket:hover {
    background-color: #ccc;
    color: #000;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal .modal-container {
    width: 750px;
    max-width: calc(100% - 64px);
    background-color: #fff;
}

#modal .modal-container .modal-heading {
    background-color: rgb(0, 150, 136);
    color: #fff;
    padding: 32px 16px;
    margin-bottom: 10px;
    text-align: center;
    font: 400 30px/45px "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    position: relative;
}

#modal .modal-container .my-ti-close-modal {
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
}

#modal .modal-container .my-ti-close-modal:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#modal .modal-container .modal-content {
    padding: 0 16px;
}

#modal .modal-content .label-ticket {
    display: block;
    margin: 15px 0;
    line-height: 22.5px;
}

#modal .modal-content .input-ticket {
    display: block;
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    font-weight: 400;
    line-height: 22.5px;
}

#modal .modal-content .button-pay {
    text-align: center;
    margin: 16px 0;
    padding: 16px;
    background-color: rgb(0, 150, 136);
    color: #fff;
    line-height: 22.5px;
    font-weight: 400;
}

#modal .modal-content .button-pay:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

#modal .modal-content .modal-help {
    float: right;
    margin: 15px 0;
}

#modal .close-modal-bottom {
    float: left;
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
}

#modal .close-modal-bottom:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#modal .close-modal-bottom .my-ti-close-modal-bottom {
    font-size: 10px;
}

#modal .modal-content .help {
    color: #2196f3;
    text-decoration: underline;
    cursor: pointer;
}